.primary-color
{
    background: #820481;
}

.secondary-color
{
    background: #171F2C;
}

.tertiary-color
{
    background: 	#FFC0CB;
}

.background-color
{
    background: rgb(9,35,78);
background: linear-gradient(70deg, rgba(9,35,78,1) 9%, rgba(130,4,129,1) 59%, rgba(255,192,203,1) 90%);
}